{% extends 'base/blank.html' %}
{% block content %}
    <div class="container">
        <h3>Global Stats</h3>
        <div id="graphs" data-url="{% url 'hell_log:chart_data' %}"></div>
        <script>
            $.ajax({
                url: $("#graphs").attr("data-url"),
                dataType: 'json',
                success:function(data){
                    Highcharts.chart("graphs", data);
                }
            });
        </script>
        <a href="{% url 'hell_log:home' %}">Return to Accounts</a>
    </div>
{% endblock content %}