{% extends 'base/blank.html' %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-list"></i> Accounts List
        </div>
        <div class="card-body">
            {% if user.is_authenticated %}
                Hi {{ user.username }}!
                <p><a href="{% url 'hell_log:logout' %}">logout</a></p>
            {% else %}
                <p>You are not logged in</p>
                <a href="{% url 'hell_log:login' %}">login</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}

