{% extends 'base/blank.html' %}
{% block content %}
    <h3>Log {{ character.name }}'s hell runs</h3>
    <p>
        Instructions: Increment the Runs field as you run hells. 
        Add drops as you find them and click submit when you are done for the day on {{ character.name }}.
    </p>
    <form action="{% url 'hell_log:Log Hell' account.id character.id %}" method="POST">
        {% csrf_token %}
        {% for field in form%}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-success" value="Submit">
    </form>
{% endblock content %}